.cardWrap {
    .title {
        border-bottom: 1px solid #dbdfe9;
        @apply font-medium text-[20px] px-10 py-6
    }

    box-shadow: 0 3px 4px 0 #00000008;
    border: 1px solid #f1f1f4;
    @apply bg-[white] rounded-[0.75rem] w-full h-full mt-3 pb-6
}

.descriptionWrap {
    &:focus-visible {
        outline: none;
        border: none;
    }

    border-radius: 6px;
    background-color: #f9f9f9;
    width: 100%;
    height: 100px;
    @apply px-[18px] py-[12px]
}

.deleteBtn {
    svg {
        @apply w-6 h-4 fill-[red] mr-1.5
    }

    @apply text-[red] flex items-center justify-center cursor-pointer
}
