.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transition: opacity 0.3s ease;
    padding-top: 100px;
}

.modalContent {
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    width: 90%;
    max-width: 500px;
    position: relative;
    max-height: 80vh; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}



.closeButton {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.2s ease;
    z-index: 10;
}

.closeButton:hover {
    color: #ff4d4d;
}
.formGroup {
    margin-bottom: 20px;
}

.formGroup label {
    display: block;
    margin-bottom: 8px;
    font-size: 1rem;
    color: #555;
    font-weight: 500;
}

input[type="file"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 0.9rem;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="file"]:focus,
select:focus,
textarea:focus {
    border-color: black;
    outline: none;
}

textarea {
    resize: vertical;
    min-height: 120px;
}

.submitButton {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 14px 24px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
    display: block;
}

.submitButton:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

