.backgroundWrap {
    .avatarWrap {
        @apply border-[#17c653]
    }

    .info {
        a {
            @apply hover:text-[#1b84ff]
        }

        @apply flex justify-center items-center
    }

    background-image: url("../../../assets/images/logos/hero-bg.png");
    background-size: cover;
    background-position: 50%;
    @apply h-[300px] flex items-center justify-center flex-col
}
