@import "../../../assets/scss/variables";

.listWrap {
    @apply p-8 rounded-lg bg-white border border-gray-110 shadow-card-box;
    .filterWrap {
        .search {
            @apply mb-3.5 w-4/12
        }

        .action {

        }

        @apply mb-2.5 flex justify-between
    }
}

.btnAction {
    .editBtn {
        svg {
            @apply fill-[gray]
        }
    }

    @apply w-fit h-full cursor-pointer px-[10px] py-[8px] bg-gray-120 border-gray-95 text-black-20 rounded-[0.425rem] text-sm outline-none font-medium;
    &:focus, &:hover, &:focus-within {
        @apply bg-gray-95 border-transparent outline-none shadow-none #{!important}
    }

    &.ant-input {
        &:focus, &:hover, &:focus-within {
            @apply border-transparent bg-gray-95 outline-none shadow-none #{!important}
        }
    }
}

.optionWrap {
    svg {
        @apply w-6
    }

    .dropDownWrap {
        box-shadow: 0 7px 18px 0 #00000017;
        border: 1px solid #f1f1f4;
        z-index: 1000;

        .downloadWrap {
            @apply hover:bg-[#f9f9f9] flex items-center justify-start ml-[-0.5px] p-2 rounded-md hover:fill-[#5B8DEF]
        }

        @apply absolute bg-[white] rounded-md top-8 right-0 p-[10px] w-[140px] text-[13px]
    }

    @apply relative bg-[#f1f1f4] w-4 h-4 rounded-md flex items-center justify-center p-3 cursor-pointer hover:bg-[#e0e0e4] ml-6
}

@media (max-width: 428px) and (min-width: 350px){
    .listWrap {
        @apply p-4
    }
}
