.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
}

.cardContent {
    text-align: center;
}

.cardTitle {
    display: block;
    font-size: 2em;
    font-weight: bold;
    color: #333;
}

.cardSubtitle {
    display: block;
    font-size: 1.2em;
    color: #666;
}
