.container {
    padding: 20px;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    min-height: 100vh;
}

.cardList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.avatar {
    margin-bottom: 10px;
}

.button {
    margin-right: 30px;
}

@media (max-width: 480px) {
    .card {
        padding: 10px;
        
    }

    .avatar {
        width: 50px;
        height: 50px;
    }

    .button {
        font-size: 14px;
    }
}