.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 20px;
}

.jobSection {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.jobHeader {
    margin-bottom: 20px;
}

.jobTitle {
    font-size: 24px;
    margin: 0;
}

.jobCompany {
    font-size: 18px;
    color: gray;
}

.jobInfo {
    margin-top: 20px;
}

.jobSectionItem {
    margin-bottom: 15px;
}

.companySection {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.companyHeader {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.companyLogo {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 50%;
}

.companyInfo p {
    margin: 5px 0;
}

.companyInfo a {
    color: #007bff;
    text-decoration: none;
}
.applyButtonContainer {
    margin-top: 20px;
}

.applyButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.applyButton:hover {
    background-color: #45a049; 
}
